@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

header {
    position: relative;
    height: 20vh;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    position: relative;
    color: #313131;
    text-align: center;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 strong {
    color: red;
}

body {
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(11,12,42,1) 100%);
}

.main-content {
    display: none;
}

.anime-content {
    display: flex;
    padding: 25px 0;
}

h3 {
    text-align: center;
}

aside {
    flex: 1 1 250px;
    max-width: 250px;
    padding-right: 16px;
}

nav {
    padding-left: 16px;
    padding-right: 16px;
}

nav h3 {
    color: #313131;
    font-family: Bungee Spice, sans-serif;
    font-size: 24px;
    margin-bottom: 16px;
}

nav a {
    display: block;
    padding: 8px 16px;
    color: #EEE;
    font-size: 16px;
    margin-bottom: 16px;
    background-color: #888;
    border-radius: 999px;
    text-decoration: none;
    transition: 0.4s;
}

nav a:hover {
    background-color: #313131;
    color: #AAA;
}

main {
    flex: 1 1 0%;
    padding: 0px 16px;
}

.main-head {
    display: flex;
    justify-content: flex-end;
}

.search-box {
    display: flex;  
    justify-content: right;
    flex: 1 1 0%;
}

.search-box input {
    appearance: none;
    background: none;
    outline: none;
    border: none;
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 16px;
    border-radius: 999px;
    background-color: #EEE;
    transition: 0.4s;
}

.search-box input::placeholder {
    color: #888;
}

.search-box input:focus, .search-box input:valid {
    background-color: #313131;
    color: #FFF;
}

.anime-list {
    margin-top: 32px;
}

#anime-results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.anime-container {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    height: 470px;
    cursor: pointer;
    transition: transform 0.4s;
}

.anime-container:hover {
    transform: scale(1.05);
}

.anime-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.anime-container h2 {
    font-family: Comfortaa, sans-serif;
    font-size: medium;
    word-wrap: break-word;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.anime-container a {
    display: block;
    margin-top: 8px;
    color: #888;
    font-size: 16px;
    text-decoration: none;
}

.anime-container a:hover {
    color: #313131;
}

@media (max-width: 1200px) {
    header {
        height: 20vh;
        width: 100%;
    }

    aside {
        display: none;
    }
}

@media (max-width: 950px) {
    header {
        height: 20vh;
        width: 100%;
    }
    .video-background {
        width: 100%;
    }
    #anime-results {
        grid-template-columns: repeat(2, 1fr);
    }
    
    aside {
        display: none;
    }

    .anime-container img {
        height: 200px;
        width: 100%;
    }

}

@media (max-width: 600px) {
    header {
        width: 100vw;
    }
    .video-background {
        width: 100%;
    }
    #anime-results {
        grid-template-columns: repeat(2, 1fr);
    }
    .anime-container img {
        height: 200px;
        width: 100%;
    }
    .search-box {
        width: 50px;;
        height: 40px;
    }
}
